@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  header {
    padding: 2% 0 2% 5%;
  }

  header h1 {
    font-size: 3.5em;
    top: 3%;
  }
  nav ul li a {
    padding: 0.6rem 1rem;
  }

  .subheading {
    font-size: 2em;
    margin: -3% 0 0 20%;
  }

  article p.town-article img {
    width: 29.333%;
    top: 5%;
  }

  nav ul li a {
    padding: 0.6rem 1rem;
  }

  header img {
    width: 120px;
  }
}
