/* This main css file contains the default rules and is geared toward the small/phone view */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "EB Garamond", serif;
  margin: 0px 10 120px 10px;
}

header,
nav,
main,
footer {
  /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
  max-width: 100%;
}

header {
  background-color: #fbeec1;
  padding: 3%;
}

header h1 {
  font-family: "Dancing Script", cursive;
  position: absolute;
  top: 2%;
  left: 20%;
  font-size: 2em;
}

header img {
  width: 50px;
  height: auto;
  margin-top: 3%;
}

.subheading {
  font-size: 1.2em;
  margin: 0 0 0 22%;
}

nav {
  background-color: #659dbd;
  color: #fff;
  font-size: 18px;
  margin: auto;
  display: block;
  min-width: 100%;
  padding: 0 10%;
  overflow: hidden;
  float: right;
}

nav button {
  float: right;
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul.hide {
  display: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.8rem 2%;
  background-color: #659dbd;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  min-width: 100%;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 100%;
}

main {
  padding: 5% 10%;
}

main h2 {
  font-weight: bold;
}
main figure {
  margin: 0 0 0.2rem 2%;
  width: 96%;
  height: auto;
}

main figure img {
  max-width: 100%;
  height: auto;
  /* margin: 5% 0;
  float: right; */
}

main figure figcaption {
  text-align: center;
  font-size: 0.5rem;
}

section h3 {
  background-color: #fbeec1;
  padding: 1rem;
}
button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.current,
.highlow,
.conditions,
.form {
  display: inline;
}

article {
  border: 1px solid #8d8741;
  background-color: #659dbd;
  padding-bottom: 120px;
  margin-bottom: 125px;
}
article h3 {
  font-weight: bolder;
  padding: 3px 15px;
}
article p.town-article {
  padding: 3px 25px;
}
article p.town-article img {
  /* This structure refers to img elements that are the posterity of paragraph elements within article elements */
  max-width: 100%; /* fill the page in the small/phone view */
  height: auto;
  margin: 5px;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: #8d8741;
  margin: auto;
  width: 100%;
  height: auto;
}

footer aside {
  padding: 2%;
  background-color: #bc986a;
  border-bottom: 2px solid #1d6792;
}
/* This structure refers to p elements that are direct children of the footer element */
/* footer > p {
} */

/* Other Class Selectors */

@media screen and (max-width: 600px) {
  .forecast {
    display: none;
  }

  .subheading {
    display: none;
  }
}
/* nav li {
  display: none;
} */

@media screen and (max-width: 340px) {
  .hide {
    display: none;
  }

  header h1 {
    top: 0%;
  }

  header img {
    width: 40px;
  }
}
/*--------Clearfix: Force elements not to collapse ------------*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
