/* Color scheme includes #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 with white and black.
You may find the first-child and nth:child() pseudo classes helpful in CSS. You may use ONE class selector. Send to github and post url to table page in discussion board */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  font-family: "Ubuntu", sans-serif;
  margin: 25% auto;
  text-align: center;
  box-shadow: 8px 8px 16px #628ca6;
}

table, thead, tbody, tr, th, td, tfoot {
  border: 0.5px solid #c5d3c8; 
  border-collapse: collapse;
  padding: 8px 10px;
}

caption {
  background-color: #7fb9c2;
  font-size: 22px;
  font-weight: bolder;
  padding: 7px 10px;
  box-shadow: 8px 8px 16px #628ca6;
}


th {
  color: white;
  background-color:  #628ca6;
  font-weight: bolder;
}

tr:nth-child(even) {
background-color:  #e7ffed;
}

tr:nth-child(odd) {
  background-color: #e7f0ed;
  }

th, td {

  
}
tfoot tr td {
  color: black;
background-color: #7fb9c2;
font-size: 11px;
}
