/********** COLORS & FONTS ************/
/*******************************

Blue: #6DABC8 / rgb(24, 42, 170)
Yellow: #FFD463 / rgb(109, 171, 100)
Brown/Gold: #986E00 / rgb(152, 110, 0)
Dark Grey: #313131 / rgb(49, 49, 49)

font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif;

******************************/


/******* GENERAL STYLES FOR ALL PAGES **************/
* {
    margin: 0;
    padding: 0;
    color: #313131;
    line-height: 1.5em;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display SC', serif;
}

main {
    margin: 2% 5%;
    margin-bottom: 200px;
}

.clearfix {
    overflow: hidden;
    clear: both;
}

/********** GENERAL - LOGO STYLES ****************/
#logo {
    margin: 25px 10% 35px 10%;
}

#logo img {
    width: 330px;
    float: right;
    margin-bottom: 35px;
}

/********** GENERAL - PRIMARY NAVIGATION ************/

nav {
    display: inline;
    margin: 0;
    
}

nav ul {
    background-color: #6DABC8;
    padding: 15px 40px;
    text-align: left;
    float: left;
    width: 100%;
}

nav ul li {
    display: inline;
    padding: 15px;
}

/******** GENERAL - PRIMARY NAVIGATION LINKS **********/

nav a {
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    line-height: 1.2em;
    font-size: 1.5em;
}

/* unvisited link */
nav a:link {
    color: #fff;
}

/* visited link */
nav a:visited {
    color: #fff;
}

/* mouse over link */
nav a:hover {
    color: #FFD463;
}

/* selected link */
nav a:active {
    color: #986E00;
}

.fa-bars {
    color: #fff;
    display: none;
}

/*********** GENERAL BODY STYLES ************/
h2 {
    margin-bottom: 10px;
}

/******** embedded google map ***********/
 .map {
    text-align: right;
    height: 400px;
    width: 350px;
}
                
.gmap {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 350px;
}

/*********** GENERAL - FORM STYLES **********/
fieldset {
    border: none;
}

.form {

}

form input {
    height: 44px;
    margin: 10px;
    width: 300px;
    max-width: 100em;
    border-radius: 5px;
}

textarea {
    margin: 10px 0 0 8px;
    border-radius: 5px;
    border: 2px inset #F0F0F0;
}

fieldset {
    max-width: 320px;
    margin: 20px 10px;
    border-radius: 5px;
}

.button {
    margin: 20px;
    background-color: #FFD463;
    border: 1px solid #fcb93e;
}

.thankYou {
    margin: 15px 0 0 35px;
    text-align: right;
    max-width: 500px;
    line-height: 150%;
}

/******* contact page ************/
.additionalInfo {
    margin: 25px 0;
}

/********* GENERAL - FLEXBOX STYLES ***********/

.flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

/********* GENERAL - FOOTER STYLES ***********/

footer {
    position: fixed;
    bottom: 0;
    background-color: #6DABC8;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer ul li {
    display: inline;
    padding: 15px;
    color: #fff;
    font-family: "Playfair Display SC", serif;
}

footer a {
    text-decoration: none;
    font-family: "Playfair Display SC", serif;

}

/* unvisited link */
footer a:link {
    color: #fff;
}

/* visited link */
footer a:visited {
    color: #fff;
}

/* mouse over link */
footer a:hover {
    color: #FFD463;
}

/* selected link */
footer a:active {
    color: #986E00;
}

#copyright{
    font-family: "Playfair Display SC", serif;
    color: #fff;
    font-size: .75em;
    margin-top: 10px;
}
