/************* Styles for large screens **********************************************************************************/
@media (min-width: 64em) {

   
}


/************* Styles for medium screens **********************************************************************************/
@media (min-width: 37.5em) and (max-width: 64em) {
    
    /*************** MEDIUM NAV ***************/
    .fa-bars {
        display: none;
    }
    
    /*************** MEDIUM BODY ***************/
    main {
        margin-bottom: 50px;
    }

    .makeReservation {
        width: 200px;
    }

    div.homePageImg img {
        padding: 5px;
        width: 300px;
    }

    div.homePageImg {
        margin: 10px 0 ;
        float: none;
    }

    div.imgDescription {
        float: none;
        max-width: 300px;
        margin: 25px;
    }

    /*************** MEDIUM FOOTER ***************/
    footer {
        overflow: hidden;
    }

}



/************* Styles for small screens **********************************************************************************/
@media  (max-width: 600px) {

    /********** SMALL - LOGO STYLES ****************/
    #logo {
        width: 280px;
        margin: 0 auto 25px auto;
    }
    
    #logo img {
        width: 300px;
        margin-bottom: 25px;
        margin-top: 0;
    }

    #headerImg {
        display: none;
    }

    /************ SMALL - PRIMARY NAVIGATION **************/
    nav {
        display: inline;
        margin: 0;
        width: 80%;
    }

    nav ul {
        text-align: right;
        
    }

    nav ul li {
        display: inline;
        /* padding: 15px; */
    }

    /************ SMALL - RESPONSIVE TOP NAV **************/
    .menuItem {
        display: none;
    }
    
    .fa-bars {
        float: left;
        display: block;
    }

    .topnavresponsive {
        position: relative;
    }

    .topnavresponsive a {
        float: none;
        display: block;
        text-align: left;
        font-size: 16px;
        padding-top: 5px;
    }

    /************** SMALL - MAP ************/
    /******** embedded google map ***********/
    .map {
        text-align: right;
        height: 400px;
        width: 300px;
}
                
    .gmap {
        overflow: hidden;
        background: none !important;
        height: 400px;
        width: 300px;
    }

    /*************** FORM ****************/
    .form {
        margin: 0 auto;
        width: 300px;
    }

    form input {
        height: 44px;
        margin: 10px;
        width: 280px;
        max-width: 80em;
        border-radius: 5px;
    }

    /** home page & services page img **/
    div.homePageImg img {
    padding: 5px;
    max-width: 300px;
}
    .makeReservation {
        width: 80%;
    }

    .button {
        margin-left: 20px;
    }
    /********* SMALL SCREEN - FOOTER STYLES ***********/

    footer {
        position: fixed;
        bottom: 0;
        background-color: #6DABC8;
        margin-top: 40px;
        width: 80%;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    footer ul li {
        display: inline;
        color: #fff;
        font-family: "Playfair Display SC", serif;
        /* max-width: 300px; */
        text-align: center;
    }

    footer a {
        text-decoration: none;
        font-family: "Playfair Display SC", serif;
        font-size: .8em;

    }

    #copyright{
        font-family: "Playfair Display SC", serif;
        color: #fff;
        font-size: .5em;
        margin-top: 10px;
        text-align: center;
    }

}



