/********** COLORS & FONTS ************/
/*******************************

Blue: #6DABC8 / rgb(109, 171, 200)
Yellow: #FFD463 / rgb(255, 212, 99)
Brown/Gold: #986E00 / rgb(152, 110, 0)
Dark Grey: #313131 / rgb(49, 49, 49)

font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif;

******************************/


/******* GENERAL STYLES FOR ALL PAGES **************/
* {
    margin: 0;
    padding: 0;
    color: #313131;
    line-height: 1.5em;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display SC', serif;
}

main {
    margin: 2% 5%;
    margin-bottom: 200px;
}

.clearfix {
    overflow: hidden;
    clear: both;
}

/********** GENERAL - HEADER/LOGO STYLES ****************/
#logo {
    margin: 25px 10% 35px 10%;
}

#logo img {
    width: 300px;
    float: right;
    margin-top: 50px;
    /* margin-bottom: 35px; */
}

#headerImg {
    margin: 20px auto 20px 75px;
}

#headerImg img {
    height: 200px;
    border-radius: 5px;
}

/********** GENERAL - PRIMARY NAVIGATION ************/

nav {
    display: inline;
    margin: 0;
    
}

nav ul {
    background-color: #6DABC8;
    padding: 15px 40px;
    text-align: left;
    float: left;
    width: 100%;
}

nav ul li {
    display: inline;
    padding: 15px;
}

/******** GENERAL - PRIMARY NAVIGATION LINKS **********/

nav a {
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    line-height: 1.2em;
    font-size: 1.5em;
}

/* unvisited link */
nav a:link {
    color: #fff;
}

/* visited link */
nav a:visited {
    color: #fff;
}

/* mouse over link */
nav a:hover {
    color: #FFD463;
}

/* selected link */
nav a:active {
    color: #986E00;
}

.fa-bars {
    color: #fff;
    display: none;
}

/*********** GENERAL BODY STYLES ************/
h2 {
    margin-bottom: 10px;
}

.button {
    margin: 20px 10px 20px 0;
    padding: 10px;
    background-color: #FFD463;
    border: 1px solid #fcb93e;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: rgb(252, 197, 58);
    color: #fff;
}

section {
    margin: 20px 10px;
}

figure {
    /* background-color: rgba(109, 171, 200, .5); */
    /* background-color: rgba(255, 212, 99, .9); */
    background-color: rgba(152, 110, 0, .4);
    display: inline-block;
    border: 1px solid #313131;
    border-radius: 5px;
}

figcaption {
    text-align: center;
    padding-bottom: 5px;
}

.services li {
    margin-left: 35px;
}

/******** embedded google map ***********/
.map {
    text-align: right;
    height: 400px;
    width: 350px;
}
                
.gmap {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 350px;
}

/*********** GENERAL - FORM STYLES **********/
fieldset {
    border: none;
}

form input {
    height: 44px;
    margin: 10px;
    width: 300px;
    max-width: 100em;
    border-radius: 5px;
}

textarea {
    margin: 10px 0 0 8px;
    border-radius: 5px;
    border: 2px inset #F0F0F0;
}

fieldset {
    max-width: 320px;
    margin: 20px 10px;
    border-radius: 5px;
}

.thankYou {
    margin: 15px 0 0 35px;
    text-align: right;
    max-width: 500px;
    line-height: 150%;
}

.btnSpace {
    margin-left: 30px;
}

.area {
    border: 1px inset #F0F0F0;
    border-radius: 5px;
    margin-bottom: 5px;
}

select {
    margin: 15px 10px;
    width: 300px;
    height: 44px;
}

.disclaimer {
    font-size: .75em;
    text-align: center;
    margin-bottom: 10px;
}

input[type="radio"] {
    height: 25px;
    margin: 3px;
    width: 30px;
    vertical-align: middle;
}

/******* contact page ************/
.additionalInfo {
    margin: 25px 0;
}

/********** home page ************/
.makeReservation {
    background-color: #f0efef;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 25px #4d4d4d;
    margin: 0 0 25px 15px;
    width: 260px;
    float: right;
}

div.homePageImg {
    margin: 10px 0 ;
    float: left;

}

div.homePageImg img {
    padding: 5px;
    border-radius: 5px;
}

div.imgDescription {
    float: right;
    max-width: 400px;
    margin: 20px 20px 20px 30px;
}



/********** services page ************/
.services {
    width: 300px;
}
/** also view homePageImg style in home page section **/


/********** reservations page ************/
.reservations{
    max-width: 500px;
}

/********** temple page *************/
div.info {
    margin: 35px auto;
    width: 300px;
}

/********* GENERAL - FLEXBOX STYLES ***********/

.flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

/********* GENERAL - FOOTER STYLES ***********/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #6DABC8;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer ul li {
    display: inline;
    padding: 15px;
    color: #fff;
    font-family: "Playfair Display SC", serif;
}

footer a {
    text-decoration: none;
    font-family: "Playfair Display SC", serif;

}

/* unvisited link */
footer a:link {
    color: #fff;
}

/* visited link */
footer a:visited {
    color: #fff;
}

/* mouse over link */
footer a:hover {
    color: #FFD463;
}

/* selected link */
footer a:active {
    color: #986E00;
}

#copyright{
    font-family: "Playfair Display SC", serif;
    color: #fff;
    font-size: .75em;
    margin-top: 10px;
}
