/* google font: font-family: 'Open Sans', sans-serif; */
/* google font: font-family: 'Niramit', sans-serif; */

body {
    font-size: 18px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
}

/********** HEADER *************/

header {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(45, 92, 142, .8);
    color: #F9F7F6;
    border-top: 3px solid #ffc55b;
}

header>img {
    margin: 2rem 1rem;
}

.headerText {
    padding-top: 1rem;
}

.headerText h1 {
    font-size: 2rem;
    color: #F9F7F6;
    text-shadow: 2px 2px 5px #231F20;
}

.subheading {
    display: flex;
    font-size: 1.1rem;
    color: #F9F7F6;
    font-style: italic;
    justify-content: center;
}

.currentConditions {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 1rem 5rem;
    padding: 1rem;
    color: #F9F7F6;
    background-color: rgba(0, 46, 91, .9);
    border: 1pt solid rgb(0, 37, 75);
    font-size: 1rem;
    box-shadow: 2px 2px 5px #231F20;
}

.currentConditions>img {
    padding-right: 1rem;
}

.currentConditions>p {
    padding: .5rem 1rem 0 0;
}


/********* NAVIGATION *************/

nav {
    display: flex;
    justify-content: center;
    background-color: #002e5b;
    border-top: 2px solid #ffc55b;
    border-bottom: 2px solid #ffc55b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    text-decoration: none;
} 

nav a {
    text-decoration: none;
}

.icon {
    color: #fff;
}

nav a:visited {
    color: #ddd;
}

.topnav .icon {
    display: none;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    
}

/* Change the color of links on hover */
.topnav a:visited {
    color: #fdfdfd;
}

.topnav a:hover {
    background-color: #ddd;
    border-radius: 5px;
    color: #2d5c8e;
    padding: 14px 16px;
}

/***************** MAIN *******************/
main {
    border-top: 3px solid #002e5b;
}

.heroImageArea {
    border-top: 3px solid rgb(0, 46, 91);
    border-bottom: 3px solid rgb(0, 46, 91);
    position: relative;
}

.heroImage {
    margin: auto;
}

.weatherSummary {
    background-color: rgba(0, 46, 91, .9);
    color: #fff;
    width: 200px;
    padding: 8px;
    position: absolute;
    left: 30px;
    top: 50px;
}

.detailsLabel {
    display: inline-block;
    color: #fff;
    margin-top: 3px;
    margin-bottom: 3px;
}

.detailsCondition {
    display: inline-block;
    color: #ffc55b;
    margin-top: 3px;
    margin-bottom: 3px;
}

.townName {
    text-align: center;
}

article {
    background-color: #fae29a;
    margin: 25px;
    padding: 25px;
    border: 2px solid #ffc55b;
}

section.homepage {
    border: 3px solid #ffc55b;
    display: inline-block;
    margin: 25px 10px;
    width: 300px;
    text-align: center;
    padding: 20px 15px;
    vertical-align: top;
}

.italic {
    font-style: italic;
}

.homepageMain {
    margin-left: 15%;
}

/************ GRID - General Info *************/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 15px;
    justify-content: space-around;
}


figure {
    margin: 0;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    text-align: center;
    object-fit: cover;
}

figcaption {
    font-size: small;
    text-align: center;
}

/************ FOOTER ************/

footer {
    background-color: rgba(45, 92, 142, .8);
    border-top: 3px solid #002e5b;
    
}

footer>div.footerBar {
    background-color: #002e5b;
    border-top: 3px solid #ffc55b;
    color: #fff;
    font-size: .75em;
    text-align: center;
    padding: 10px;
}

footer>div {
    padding: 25px;
}

img.map {
    margin-bottom: 20px;
}