@media  (max-width: 600px) {

    .currentConditions {
        display: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 15px;

    }

    

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        display: block;
    }


    .topnav.responsive a {
        /* float: left;
        margin: 5px 0; */
        /* display: block; */
        /* text-align: left; */
        justify-content: space-between;
    }

    /**************** MAIN ******************/

    .heroImageArea {
        width: 100%;
        
    }

    .heroImage {
        width: 100%;
    }

    .fiveDayForecast {
        display: none;
    }

    .weatherSummary {
        top: 20px;
        padding: 8px;
    }

    .detailsLabel {
        display: inline-block;
        color: #fff;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    article>div {
        margin: auto;
    }

    div>img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    address {
        text-align: center;
        margin-bottom: 15px;
    }
    
    /*********** GRID ************/

    .grid-container {
    grid-template-columns: 1fr;
}

    footer>div {
        margin: auto;
    }

}