/* This main css file contains the default rules and is geared toward the small/phone view */

* {
  box-sizing: border-box;
} /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "EB Garamond", serif;
  margin: 0px 10 120px 10px;
}

header,
nav,
main,
footer {
  /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
  min-width: 375px;
  max-width: 100%;
}

header {
  background-color: #fbeec1;
  padding: 5%;
}

header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 1.75em;
  display: inline;
  position: absolute;
  top: 2%;
  left: 20%;
}

header img {
  width: 50px;
}

header .subheading {
  display: block;
  font-size: 1.5em;
  padding: 5px;
  margin-left: 20%;
  margin-top: 5px;
}

nav {
  background-color: #659dbd;
  color: #fff;
  font-size: 18px;
  margin: auto;
  display: block;
  min-width: 100%;
  padding: 0 10%;
  overflow: hidden;
}

nav button {
  float: right;
  margin: 2px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
  background-color: #659dbd;
}

nav ul li.active a {
}

nav ul li a:hover {
}

main {
  padding: 5% 10%;
}

main h2 {
  font-weight: bold;
}
main figure {
  margin: 0 0 0.2rem 2%;
  width: 96%;
}

main figure img {
  width: 100%;
  margin: 5% 0;
  float: right;
}

/* main figure figcaption {
  text-align: center;
  font-size: 0.75rem;
} */

section {
  padding: 0.2rem;
}
article {
  border: 1px solid #8d8741;
  background-color: #daad86;
  margin-bottom: 125px;
}
article h3 {
  font-weight: bolder;

  padding: 3px 15px;
}
article p.town-article {
  padding: 3px 25px;
}
article p.town-article img {
  /* This structure refers to img elements that are the posterity of paragraph elements within article elements */
  width: 250px; /* fill the page in the small/phone view */
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: #8d8741;
  margin: auto;
  width: 100%;
}
footer aside {
  padding: 2%;
  background-color: #bc986a;
  border-bottom: 2px solid #1d6792;
}
footer > p {
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */

@media screen and (max-width: 600px) {
  .forecast {
    display: none;
  }

  header .subheading {
    display: none;
  }
  nav li {
    display: none;
  }
}
