@media (max-width: 600px) {

    .currentConditions {
        display: none;
    }

    ul {
        list-style-type: none;
    }

     header > img {
        width: 75px; 
    }

    nav li {
        display: none;

    }

    .heroImage {
    width: auto;
    height: 350px;
    background-image: url('../images/main-street-sm.jpg');
    background-repeat: no-repeat;
   
    }

    .fiveDayForecast {
        display: none;
    }

    .weatherSummary {
        margin-left: 30px;
        margin-top: 10px;
        padding: 8px;
    }

    .detailsLabel {
        display: inline-block;
        color: #fff;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    article > div {
        margin: auto;
    }

    div > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    address {
        text-align: center;
    }

    footer > div {
        margin: auto;
    }

    


}