@media (min-width: 992px) {
   
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        

    }

    nav li {
        display: inline;
        padding: 10px;
        text-decoration: none;
        
    }

    nav a {
        text-decoration: none;
    }

    .heroImage {
    width: auto;
    background-image: url('../images/main-street-large.jpg');
    background-repeat: no-repeat;
   
    }

    .fiveDayForecast {
        display: none;
    }


}