@media (min-width: 992px) {
   
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        display: inline;
        padding: 10px;
        
    }




}