/* google font: font-family: 'Open Sans', sans-serif; */
/* google font: font-family: 'Niramit', sans-serif; */

body {
    font-size: 18px;
    font-family:  "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #00A2AD;
    text-align: center;
    padding: .5rem;
    color: #F9F7F6;
    border-top: 3px solid rgb(1, 70, 86);
}

header > img {
    width: 100px;
    vertical-align: middle;
    margin: 1rem 5rem 1rem 0;
}

.headerText {
    display: inline-block;
    vertical-align: middle;
}

.headerText h1 {
    font-size: 2rem;
    color: #F9F7F6;
    text-shadow: 2px 2px 5px #231F20;
}

nav {
    background-color: rgb(1, 70, 86);
    padding: 10px;
    text-align: center;
    border-top: 2px solid #f6a801;
    border-bottom: 2px solid #f6a801;
    
}

nav a {
    color: #F9F7F6;
}

.subheading {
    font-size: 1.1rem;
    color: #F9F7F6;
    font-style: italic;
}

.heroImage {
    border-top: 3px solid rgb(1, 70, 86);
    border-bottom: 3px solid rgb(1, 70, 86);
    height: 500px;
      
}

.weatherSummary {
        background-color: rgba(1, 70, 86, .95); 
        color: #fff;
        width: 200px;
        margin-left: 100px;
        margin-top: 75px;
        padding: 8px;
        position: relative;
    }

    .detailsLabel {
        display: inline-block;
        color: #fff;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .detailsCondition {
        display: inline-block;
        color: #fae29a;
        margin-top: 3px;
        margin-bottom: 3px;
    }

.currentConditions {
    display: inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1rem;
    vertical-align: middle;
    color: #F9F7F6;
    background-color: rgba(1, 70, 86, .8);
    border: 1pt solid #014656;
    font-size: 1rem;
    box-shadow: 2px 2px 5px #231F20;
}

.currentConditions > img {
    width: 70px;
    vertical-align: middle;
    padding-right: 1rem;
}

.currentConditions > p {
    display: inline-block;
}

.townName {
    text-align: center;
}

article {
    background-color: #fae29a;
    margin: 25px;
    padding: 25px;
    border: 2px solid #f6a801;
}

footer {
    background-color: #00A2AD;
    border-top: 3px solid rgb(1, 70, 86);
}

footer > div.footerBar {
    background-color: rgb(1, 70, 86);
    height: 25px;
}

address {
    padding: 25px;
}