/* This main css file contains the default rules and is geared toward the small/phone view */

* {
  box-sizing: border-box;
} /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "EB Garamond", serif;
  margin-bottom: 120px;
}

/* the comma means apply the following CSS declarations to all of the listed elements */
header,
nav,
main,
footer {
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
  /* min-width: 375px; */
  max-width: 100%;
}

header {
  background-color: #fbeec1;
  padding: 5%;
}

header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  display: inline;
  position: absolute;
  top: 2%;
  left: 20%;
}

/* header img {
} */

header .subheading {
  display: block;
  padding: 5px;
  margin-left: 20%;
}

nav {
  background-color: #659dbd;
  color: #fff;
  font-size: 18px;
  margin: auto;
  display: block;
  max-width: 100%;
  padding: 0 10%;
}

nav button {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
  background-color: #659dbd;
}
/* nav ul li.active a {
}
nav ul li a:hover {
} */

main {
  padding: 5% 10%;
}

main h2 {
  font-weight: bold;
}
main figure {
  margin: 0 0 0.2rem 2%;
  width: 96%;
}
main figure img {
  width: 100%;
}

/* section {
} */
article {
  border: 1px solid #8d8741;
  background-color: #daad86;
}
article h3 {
  font-weight: bolder;

  padding: 3px 15px;
}
article p.town-article {
  padding: 3px 25px;
}
article p.town-article img {
  /* This structure refers to img elements that are the posterity of paragraph elements within article elements */
  width: 100%; /* fill the page in the small/phone view */
  margin: 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: #8d8741;
  margin: auto;
  width: 100%;
}
footer aside {
  padding: 2%;
  background-color: #bc986a;
  border-bottom: 2px solid #1d6792;
}
/* This structure refers to p elements that are direct children of the footer element */
/* footer > p {
} */

/* Other Class Selectors */

@media screen and (max-width: 600px) {
  .forecast {
    display: none;
  }
  header h1 {
    font-size: 1.75em;
  }

  header img {
    width: 50px;
  }

  header .subheading {
    display: none;
  }
  nav li {
    display: none;
  }
}
