@media only screen and (min-width: 37.5em) and (max-width: 1024px) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

  nav li {
    display: inline;
    padding: 8px;
    background-color: #659dbd;
    text-decoration: none;
  }
  nav li a {
  }
  nav button {
    display: none;
  } /* hamburger button does not need to be shown */

  section.forecast {
    display: ???;
  } /* show the 10-day forecast with the medium view and up */

  article p.town-article img {
    width: 62.666%;
    float: right;
  } /* responsive images */
}
